# Google Sheets Configuration
GOOGLE_SHEET_ID=1z41IbJtvILMYHz9EqvpflzZD3kTFLF0R9q-0OnzzQFE
GOOGLE_SERVICE_ACCOUNT_EMAIL=araofficesynbot@gen-lang-client-0504198581.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"

# API Settings
VITE_API_URL=/api
NODE_ENV=production
