# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# Google Sheets Configuration
GOOGLE_SHEET_ID="1z41IbJtvILMYHz9EqvpflzZD3kTFLF0R9q-0OnzzQFE"
GOOGLE_SERVICE_ACCOUNT_EMAIL="araofficesynbot@gen-lang-client-0504198581.iam.gserviceaccount.com"
# Note: For Vercel, it is recommended to replace newlines in the private key with \n
GOOGLE_PRIVATE_KEY=""
